@media (min-width: 320px) and (max-width: 1000px) {
  .header__text {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__title {
    text-align: center;
  }
  .header__top-effective, .header__top-natural {
    margin: 20px;
  }
  .header__top {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .header__minus {
    padding-top: 0;
  }
  .problem__choise {
    width: 100%;
  }
  .problem__choise form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .advances__items {
    padding-left: 0;
    text-align: center;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .doc__text {
    background-position: center -30px;
  }
  .doc__text-inner {
    width: 100%;
    padding-top: 448px;
  }
  .pantomax {
    padding: 10px;
  }
  .pantomax p:first-child {
    width: 100%;
  }
  .pantomax {
    padding: 10px;
  }
  .podpis {
    right: 1%;
  }
}